{% extends 'layout.html.j2' %}

{% block title %}Supprimer un site{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">Voulez-vous vraiment supprimer le site <a href="{{ site }}" target="_blank">{{ site }}</a> de la liste ?</h1>

    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-around col-sm-4 offset-sm-4">
                <a href="{{ url_for('admin') }}" class="btn btn-primary">Retour</a>
                <form action="" method="POST">
                    <input class="btn btn-danger" type="submit" value="Supprimer"/>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
