{% extends 'layout.html.j2' %}

{% block title %}Historique{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">Historique du site <a href="{{ status[0][4] }}" target="_blank">{{ status[0][4] }}</a></h1>

    <div class="container">
        <div class="row">
            <table class="table col-sm-12">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Statut</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in status %}
                        <tr>
                            <td>{{ s[3].strftime('%d.%m.%Y à %H:%M:%S') }}</td>
                            <td class="d-flex {% if s[2] == 200 %}text-success{% else %}text-danger{% endif %}">
                                {{ s[2] }}
                                {% if s[2] == 200 %}
                                    <i class="material-icons ml-3">done</i>
                                {% else %}
                                    <i class="material-icons ml-3">close</i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
